In [1]:
import pandas as pd

In [6]:
file_path = "./data/train.tsv"
train = pd.read_csv(file_path, sep='\t')

In [8]:
train.describe()

               label
count  707949.000000
mean        0.100490
std         0.300653
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [9]:
train.head()

                                            sentence  label
0  昭君缘欢迎您 昭君缘（农家乐）欢迎您的光临。农家特色、内设雅座、价格合理、卫生清洁、免费Wi...      1
1                                 只要参加就有200元现金+5箱冬瓜茶      0
2                        我的首页现在有xx%的微博都是因为台风飞机gg转战高铁      0
3                                  或者搜索“XINHUAWECAN”      0
4                                       不要看见真相连端倪都不要      0